<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: main-layout(
      ~{::title},
      ~{::section},
      ~{::page-scripts}
      )}">
<head>
    <title>Управління статтями | Адмінка</title>
</head>
<body>
<section>
    <div class="standard-container-wide">

        <div th:replace="~{fragments/article-components :: articles-list(
                articles=${allArticles},
                title='Модерація всіх статей',
                basePath='/admin/articles',
                allowEdit=true,
                allowDelete=true
            )}"></div>

    </div>
</section>

<th:block th:fragment="page-scripts">
    <script src="/js/article.js" defer></script>
</th:block>
</body>
</html>